<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 Webapp</title>
</head>
<body>
    <h1>ESP32 Binary Analyzer</h1>

    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% else %}
            {% for paragraph in esp | splitstr %}
            <p>{{paragraph}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
